<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="Base.Theme.MatrailUi"
        tools:targetApi="31">




        <activity
            android:name=".Custom.customRadioButtonActivity"
            android:exported="true"
            android:theme="@style/Base.Theme.Android201"></activity>
        <activity
            android:name=".Custom.MatirialEdittextActivity"
            android:exported="true"
            android:theme="@style/Base.Theme.MatrailUi" />
        <activity
            android:name=".Custom.AppcompectActivity"
            android:exported="false" />
        <activity
            android:name=".ForgetActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".DemoActivity"
            android:exported="true" />
        <activity
            android:name=".MatrialEdittextActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Custom.MatrialswitchActivity"
            android:exported="true"
            android:theme="@style/Base.Theme.MatrailUi"></activity>
        <activity
            android:name=".toggleActivity"
            android:exported="true" />
        <activity
            android:name=".radiogroupActivity"
            android:exported="true" />
        <activity
            android:name=".CheackBoxActvity"
            android:exported="true" />
        <activity
            android:name=".Custom.MainActivity"
            android:exported="true"
            android:theme="@style/Base.Theme.MatrailUi3" />
    </application>

</manifest>